.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	flex-direction: column;
	max-width: 1280px;
	margin: 20px auto;
	width: 100%;
	/* min-height: 100vh; */
	flex-grow: 1;
}
