.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;

	h2 {
		font-size: 28px;
		line-height: 35px;
		margin-bottom: 24px;
		@media (min-width: 576px) {
			margin-bottom: 55px;
		}
	}

	.filterList {
		display: flex;
		gap: 24px;
		margin-bottom: 20px;
		@media (min-width: 576px) {
			margin-bottom: 40px;
		}
	}
}

.pizzaList {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 12px;
	padding: 0 16px;
	@media (min-width: 576px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media (min-width: 768px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 32px;
	}
	@media (min-width: 992px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
