.ovalList {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 60px;
	list-style-type: none;
}

.current svg circle {
	fill: #e52d2d;
}

// .noCurrent svg circle {
// 	fill: #e52d2d;
// }
