.ul {
	display: flex;
	gap: 60px;

	.menuItem {
		display: flex;
		height: 67px;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: #000;
		font-family: Alegreya;
		font-size: 18px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.active {
		color: #e52d2d;
	}
}
