.modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;

	.modalCard {
		padding: 20px;
		height: fit-content;
		border-radius: 5px;
		background-color: #fff;
		max-width: 704px;
		width: 100%;

		.modalTop {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 24px;
		}

		.close {
			width: 15px;
			height: 15px;
			background-color: #000;
			clip-path: polygon(
				20% 0%,
				0% 20%,
				30% 50%,
				0% 80%,
				20% 100%,
				50% 70%,
				80% 100%,
				100% 80%,
				70% 50%,
				100% 20%,
				80% 0%,
				50% 30%
			);
		}
	}
}
