.wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    border-top: solid 1px #dcdfe2;
    padding-top: 20px;
    @media (min-width: 576px) {
        padding: 20px 32px 0 32px;
    }
}

.wrapper:last-child {
    border-bottom: solid 1px #dcdfe2;
    padding-bottom: 20px;
}

.itemLeft {
    display: flex;
    position: relative;

    .name {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 15px;
        }
    }
}

.itemRight {
    display: flex;
    gap: 10px;
    h3 {
        text-align: center;
        align-self: center;
    }
    @media (min-width: 576px) {
        gap: 56px;
    }
    @media (min-width: 768px) {
        gap: 87px;
    }
}

.pizzaImg {
    position: relative;
    width: 77px;
    z-index: 10;
}

.imgsWrapper {
    position: relative;

    svg {
        position: absolute;
        top: 5px;
        left: 6px;
        width: 80%;
        height: 80%;
        z-index: 1;
    }

    @media (min-width: 576px) {
        padding: 0;
    }
}
.imgSm {
    transform: scale(0.65);
}

.imgMd {
    transform: scale(0.75);
}

.amountBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    button {
        width: 24px;
        height: 24px;
        border: none;
        background: #c5cbd5;
        color: #fff;
        border-radius: 50%;
    }

    input {
        width: 40px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid #c4c7ca;
        background: #fff;
        text-align: center;
        @media (min-width: 576px) {
            width: 60px;
            height: 40px;
        }
    }

    @media (min-width: 576px) {
        flex-direction: row;
    }
}
button:disabled {
    background: #c5cbd5;
    opacity: 0.5;
}

.groupsList {
    position: absolute;
    top: -8px;
    left: -18px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    img {
        width: 12px;
        height: 10px;
    }
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-color: #616161;
    clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
    );
}
