.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	max-width: 1312px;

	button {
		border: none;
		background: none;
	}
	@media (min-width: 1312px) {
		width: 100%;
		margin: 0 auto;
	}
}

.headerRight {
	display: flex;
	gap: 20px;
	@media (min-width: 768px) {
		gap: 32px;
	}
}

.logo {
	width: 85px;
}

.buttonsNavBlock {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	@media (min-width: 768px) {
		gap: 32px;
	}
}

.divider {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 320px;
	width: 100%;
	min-height: 100vh;
	background: #313945;
	color: #fff;
	z-index: 99;
}

.topDivider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 16px;
	svg path {
		fill: #fff;
	}
	@media (min-width: 576px) {
		justify-content: end;
		padding: 16px;
	}
}

.language {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	background: #eff0f1;
	width: 48px;
	height: 48px;
	font-family: Alegreya;
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.close {
	width: 20px;
	height: 20px;
	background-color: rgb(255, 255, 255);
	clip-path: polygon(
		20% 0%,
		0% 20%,
		30% 50%,
		0% 80%,
		20% 100%,
		50% 70%,
		80% 100%,
		100% 80%,
		70% 50%,
		100% 20%,
		80% 0%,
		50% 30%
	);
}

.navList {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 200px;
	list-style-type: none;

	.menuItem {
		text-transform: uppercase;
		text-align: center;
		padding: 24px 0;
		color: #fff;
		text-decoration: none;
	}
	.active {
		color: #e52d2d;
	}
}

.navList .menuItem:not(:last-child) {
	border-bottom: solid 1px #1d2228;
}

.bottomDivider {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;

	span {
		text-align: center;
		margin-bottom: 40px;
		.title {
			font-size: 12px;
			font-weight: 700;
			line-height: 18px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
		.time {
			color: #a8b0bc;
			font-size: 12px;
		}
	}
}

.english {
	font-family: Alegreya;
	font-size: 12px;
	line-height: normal;
	text-transform: uppercase;
}
