.wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 24px 16px 40px 16px;
	background: #f8f6f3;

	h2 {
		text-align: center;
		font-size: 28px;
		font-style: normal;
		font-weight: 900;
		line-height: 35px; /* 125% */
		letter-spacing: 1px;
	}
}
.cardList {
	display: flex;
	flex-direction: column;
	gap: 12px;
	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.card {
	display: flex;
	gap: 12px;
	padding: 14px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 2px 5px 0px rgba(199, 193, 168, 0.3);
	img {
		max-width: 48px;
		max-height: 48px;
	}

	p {
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}
}
